# Python
__pycache__/
.pytest_cache/
.venv/
venv/
env/
.env

*.pyc
*.pyo
*.pyd

# Database
*.db
app.db

# macOS
.DS_Store

# Project files
trust-policy.json
start.sh
test.txt

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.backup
.terraform.lock.hcl

crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive Terraform variables
terraform.tfvars
*.auto.tfvars